/* css styles */

/* Make title banner thinner */
.quarto-title-block .quarto-title-banner {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

/* Remove description from title banner */
.quarto-title-block .description {
  display: none;
}